<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>template</title>
</head>

<body>
    <div class="carlogic" style="text-align: center; padding-top: 30px;">
        <!-- <img src="cid:logo1"> -->
    </div>

    <div>
        <!-- <span>Hello {{user_name}}</span> -->
        <div style=" text-align: center ">
            <span style="color:'black !important'; font-size: 24px;">Your OTP to login in TeamX</span>
        </div>
    </div>


    <div style="text-align: center;
    margin-top: 50px;">

        <%= otp %>
            <div style=" left: 0;
    bottom: 0;
    width: 100%;
    background-color: none;
    text-align: center;
    color: rgb(116, 114, 114);
    padding-top: 30px;">
                <div class="" style="padding-top: 50px;">
                    <div style="text-align: center; justify-content: center; color: #A5A5A5;">
                        <p>Copyright @teamx.com-All rights reserved</p>
                        <p>This email was sent by teamx.com </p>
                    </div>
                </div>
            </div>
</body>

</html>